[Unit]
Description=lanterna IP address publisher
Documentation=https://github.com/marco-m/lanterna
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=lanterna
ExecStart=/usr/local/bin/lanterna \
    --config=/usr/local/etc/lanterna/config.json \
    run

[Install]
WantedBy=multi-user.target
